In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from src.SupportResistanceStrategy import SMAScanner

In [3]:
with open('cfg.txt') as f:

    token = f.read()

In [5]:
import requests

url = "https://api.orats.io/datav2/hist/dailies"

querystring = {"token":token,"ticker":"AAPL","tradeDate":"2019-11-29"}

response = requests.request("GET", url, params=querystring)

print(response.text)

{"data":[{"ticker":"AAPL","tradeDate":"2019-11-29","clsPx":64.62,"hiPx":64.81,"loPx":64.3,"open":64.47,"stockVolume":48196421,"unadjClsPx":267.25,"unadjHiPx":268,"unadjLoPx":265.9,"unadjOpen":266.6,"unadjStockVolume":11654300,"updatedAt":"2025-05-16T02:46:24Z"}]}

In [10]:
import json
with open('backtest.json', 'r') as file:
    backtest = json.load(file)

headers = {
    "Authorization": token
}

response = requests.post(
    "https://api.orats.io/backtest/submit",
    headers=headers,
    data=backtest
)

In [11]:
print("Status Code:", response.status_code)
print("Response Body:", response.text)

Status Code: 403
Response Body: {"Message":"User is not authorized to access this resource with an explicit deny"}

In [ ]:
with open('files/watchlist.txt') as f:
    watchlist = f.read()



df_raw = yf.download(watchlist.split(' '), auto_adjust=False, period='2y')

[*********************100%***********************]  80 of 80 completed

In [3]:
scanner = SMAScanner(sma_periods=[50, 200], return_window=20)
output = scanner.run_scan(df_raw) # type: ignore
output

         Date Ticker       MA
0  2025-07-08    ACN   SMA_50
1  2025-07-08    CRM   SMA_50
2  2025-07-08     DE   SMA_50
3  2025-07-08    GLD   SMA_50
4  2025-07-08   GOOG  SMA_200
5  2025-07-08  GOOGL  SMA_200
6  2025-07-08     HD   SMA_50
7  2025-07-08    IYR   SMA_50
8  2025-07-08    JNJ  SMA_200
9  2025-07-08    LLY   SMA_50
10 2025-07-08    LQD  SMA_200
11 2025-07-08     MA   SMA_50
12 2025-07-08    NKE  SMA_200
13 2025-07-08   SBUX  SMA_200
14 2025-07-08   TMUS   SMA_50
15 2025-07-08   TMUS  SMA_200
16 2025-07-08      V   SMA_50
17 2025-07-08    WMT   SMA_50
18 2025-07-08    XLE  SMA_200
19 2025-07-08    XLV   SMA_50
20 2025-07-08    XOP  SMA_200